#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  margin-left: 10px;
  font-size: 2em;
  float: left;
  line-height: 80px;
}